@import "../variables";
@import "../mixins";

.block_faq {
  .faq {
    margin-left: -20px;
    width: calc( 100% + 40px );
    max-width: unset!important;

    &__search {
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      input[type="search"] {
        padding: 0 20px;
        flex-grow: 1;
        width: 100%;
        &::placeholder {
          color: black;
          opacity: 1;
        }
      }
      svg {
        width: 45px;
        height: 45px;
        @include media-up(md) {
          width: 65px;
          height: 65px;
        }
        path {
          stroke: black;
          stroke-width: 5;
          stroke-miterlimit: 10;
        }
      }
    }

    &__list {
      list-style-type: none;
      padding: 0;

      &__row {
        border-bottom: solid 1px rgba( black, .09 );
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        background: white;
        transition: background .3s ease-in-out;
        .question {
          margin: 0;
          cursor: pointer;
          position: relative;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          &:after {
            content: '';
            display: block;
            width: 18px;
            height: 18px;
            position: absolute;
            top: calc(50% - 9px);
            right: 0;
            background-image: url("../././svg/chevron-right.svg");
            transition: transform .3s ease;
            @include media-up(md) {
              width: 22px;
              height: 22px;
              top: calc(50% - 11px);
            }
          }
        }
        .answer {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0.2s cubic-bezier(0, 1, 0, 1);
          p {
            margin-bottom: 0;
          }
        }

        &.is-shown {
          background: var( --c-secondary );
          .question:after {
            transform: rotate(90deg);
          }
          .answer {
            max-height: 1000px;
            transition: max-height 1s ease-in-out;
          }
        }

      }

    }

  }
}