// https://developer.wordpress.org/block-editor/reference-guides/theme-json-reference/theme-json-living/
// https://developer.wordpress.org/themes/advanced-topics/theme-json/
{
  "version": 2,
  "settings": {
    "color": {
      "palette": [
        {
          "slug": "purple",
          "color": "#D1D1E4",
          "name": "Purple"
        },
        {
          "slug": "yellow",
          "color": "#EEEADD",
          "name": "Yellow"
        }
      ]
    },
    "typography": {
      "fontSizes": [
        {
          "slug": "small",
          "size": "1rem",
          "name": "Small"
        },
        {
          "slug": "medium",
          "size": "1.5rem",
          "name": "medium"
        }
      ]
    },
    "layout": {
      "contentSize": "840px",
      "wideSize": "1100px"
    }
  }
}