/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, div, button {
  display: block;
  box-sizing: border-box; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search],
input[type=text],
input[type=tel],
input[type=email],
input[type=url] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: transparent; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: transparent;
  overflow: auto;
  resize: none !important; }

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none; }

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: none;
  text-decoration: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none;
  text-decoration: none; }

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0; }

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0;
  padding: 0; }

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important; }

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

::-moz-selection {
  background: #001DAA;
  color: white;
  text-shadow: none;
  opacity: 1; }

::selection {
  background: #001DAA;
  color: white;
  text-shadow: none;
  opacity: 1; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important; }

:root {
  --f-body: 'Montserrat', sans-serif;
  --c-primary: #292929;
  --c-secondary: #da002e;
  --c-heading: #000000;
  --c-text: #4A4B4C;
  --c--background: #F5F6F7; }

h1, .h1, .block_faq .faq__search input[type="search"],
h2, .h2,
h3, .h3, .blog-grid .post__title h2, .site-content .post h2,
h4, .h4, .site-content .post h3, .block_faq .faq__list__row .question,
h5, .h5, .site-content .post h4,
h6, .h6, .site-content .post h5 {
  font-family: var(--f-body);
  color: black;
  line-height: 1.3; }

h1, .h1, .block_faq .faq__search input[type="search"] {
  font-size: 2.7rem; }
  @media (min-width: 768px) {
    h1, .h1, .block_faq .faq__search input[type="search"] {
      font-size: 3.4rem; } }
  @media (min-width: 992px) {
    h1, .h1, .block_faq .faq__search input[type="search"] {
      font-size: 4rem; } }
  @media (min-width: 1420px) {
    h1, .h1, .block_faq .faq__search input[type="search"] {
      font-size: 5rem; } }

h2, .h2 {
  font-size: 2.3rem;
  margin-bottom: 2rem; }
  @media (min-width: 992px) {
    h2, .h2 {
      font-size: 3.4rem;
      margin-bottom: 3rem; } }

h3, .h3, .blog-grid .post__title h2, .site-content .post h2 {
  font-size: 1.8rem;
  margin-bottom: 1.7rem;
  margin-top: 2rem; }
  @media (min-width: 992px) {
    h3, .h3, .blog-grid .post__title h2, .site-content .post h2 {
      font-size: 2.3rem;
      margin-bottom: 2rem;
      margin-top: 2.6rem; } }

h4, .h4, .site-content .post h3, .block_faq .faq__list__row .question {
  line-height: 1.45; }

p {
  margin-bottom: 1rem; }

a {
  display: inline-block;
  position: relative;
  color: black;
  background: linear-gradient(0deg, var(--c-secondary) 0%, var(--c-secondary) 25%, rgba(0, 0, 0, 0) 25%);
  transition: all .3s ease-in-out; }
  a:hover {
    background-color: var(--c-secondary); }

.read-more > svg {
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  transform: translateY(3px);
  margin-left: 3px; }

.read-more:hover svg > path {
  stroke: white !important; }

.label-uppercase {
  letter-spacing: 1px;
  font-family: var(--f-body);
  text-transform: uppercase;
  font-size: 1rem; }

.list-inline {
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

.strikethrough {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0; }

img {
  display: block;
  width: 100%;
  height: auto; }

svg {
  display: inline-block; }

body {
  background-color: white;
  line-height: 1.6;
  font-family: var(--f-body);
  font-weight: 400;
  font-size: 17px;
  color: #4A4B4C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; }

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .container {
      max-width: 100% !important; } }
  @media (min-width: 992px) {
    .container {
      max-width: 980px !important; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px !important; } }
  @media (min-width: 1420px) {
    .container {
      max-width: 1360px !important; } }
  @media (min-width: 1640px) {
    .container {
      max-width: 1500px !important; } }

.site-main,
.site-main > .post {
  margin-top: 150px; }
  .site-main > *,
  .site-main > .post > * {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    margin-bottom: 1.5rem; }
  .site-main > *:not(.alignwide):not(.alignfull):not(.post),
  .site-main > .post > *:not(.alignwide):not(.alignfull):not(.post) {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }
    @media (min-width: 992px) {
      .site-main > *:not(.alignwide):not(.alignfull):not(.post),
      .site-main > .post > *:not(.alignwide):not(.alignfull):not(.post) {
        max-width: 980px; } }
  .site-main > *:not(.alignfull) .container,
  .site-main > .post > *:not(.alignfull) .container {
    padding-left: 0;
    padding-right: 0; }
  .site-main > *.alignwide,
  .site-main > .post > *.alignwide {
    padding-left: 20px;
    padding-right: 20px; }
    @media (min-width: 768px) {
      .site-main > *.alignwide,
      .site-main > .post > *.alignwide {
        max-width: 100% !important; } }
    @media (min-width: 992px) {
      .site-main > *.alignwide,
      .site-main > .post > *.alignwide {
        max-width: 980px !important; } }
    @media (min-width: 1200px) {
      .site-main > *.alignwide,
      .site-main > .post > *.alignwide {
        max-width: 1140px !important; } }
    @media (min-width: 1420px) {
      .site-main > *.alignwide,
      .site-main > .post > *.alignwide {
        max-width: 1360px !important; } }
    @media (min-width: 1640px) {
      .site-main > *.alignwide,
      .site-main > .post > *.alignwide {
        max-width: 1500px !important; } }
  .site-main > *.alignfull,
  .site-main > .post > *.alignfull {
    max-width: 100%; }
  .site-main > ul, .site-main > ol,
  .site-main > .post > ul,
  .site-main > .post > ol {
    padding-left: 40px !important; }

button,
input[type="submit"],
.button,
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-align: center;
  border: solid 2px transparent;
  font-size: 17px; }
  @media (min-width: 768px) {
    button,
    input[type="submit"],
    .button,
    .btn {
      font-size: 19px; } }
  button.btn-secondary,
  input[type="submit"].btn-secondary,
  .button.btn-secondary,
  .btn.btn-secondary {
    color: black;
    background-color: var(--c-secondary); }
  button:hover,
  input[type="submit"]:hover,
  .button:hover,
  .btn:hover {
    color: white; }
    button:hover svg > path,
    input[type="submit"]:hover svg > path,
    .button:hover svg > path,
    .btn:hover svg > path {
      stroke: white !important; }

.btn-text, .read-more {
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding: 0 6px;
  line-height: 28px;
  color: black;
  font-family: var(--f-body);
  background: none;
  border: none;
  transition: background-color .3s ease-in-out; }
  @media (min-width: 992px) {
    .btn-text, .read-more {
      font-size: inherit;
      line-height: 32px; } }
  .btn-text:hover, .read-more:hover {
    color: white;
    background-color: var(--c-secondary);
    transition: background-color .3s ease-in-out; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  background: rgba(0, 0, 0, 0.04);
  color: black;
  padding: 10px;
  transition: background .3s ease-in-out;
  width: 100%;
  max-width: unset;
  border: none; }
  input[type="text"]:focus, input[type="text"]:active,
  input[type="password"]:focus,
  input[type="password"]:active,
  input[type="email"]:focus,
  input[type="email"]:active,
  input[type="search"]:focus,
  input[type="search"]:active,
  input[type="tel"]:focus,
  input[type="tel"]:active {
    background: var(--c-secondary); }

textarea {
  background: rgba(0, 0, 0, 0.04);
  color: black;
  padding: 10px;
  transition: background .3s ease-in-out;
  width: 100%;
  font-family: inherit; }
  textarea:focus, textarea:active {
    background: var(--c-secondary); }

label {
  color: black;
  font-weight: 700;
  cursor: pointer; }

.form-row {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  flex-flow: column nowrap; }
  @media (min-width: 992px) {
    .form-row {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center; } }
  .form-row > label {
    position: relative !important;
    flex: 0 0 100%;
    margin-bottom: 0.4rem;
    font-size: 15px; }
    @media (min-width: 992px) {
      .form-row > label {
        flex: 0 1 300px;
        width: 300px;
        margin-bottom: unset; } }
  .form-row > .woocommerce-input-wrapper {
    flex-grow: 1;
    width: 100%;
    position: relative; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(255, 255, 255, 0.925);
  padding: 15px;
  z-index: 900;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border-bottom: solid 1px rgba(0, 0, 0, 0.09);
  transition: transform .5s ease, box-shadow .4s ease-in-out; }
  .site-header .menu > ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-weight: 700;
    font-size: 1.2rem; }
    .site-header .menu > ul > li {
      position: relative;
      padding-left: 4px;
      padding-right: 4px; }
      .site-header .menu > ul > li:not(:last-child) {
        margin-right: 20px; }
      .site-header .menu > ul > li.current_page_item:before {
        content: '';
        display: block;
        width: 100%;
        height: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: var(--c-secondary); }
      .site-header .menu > ul > li > a {
        color: black;
        background: none; }
  .site-header__actions {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    margin-left: auto; }
    .site-header__actions .btn-action {
      background: white;
      border: none;
      padding: 5px;
      transition: all .3s ease-in-out; }
      .site-header__actions .btn-action svg {
        width: 30px;
        height: 30px; }
      .site-header__actions .btn-action #count-products-cart {
        color: black;
        font-weight: 500;
        line-height: 1;
        position: relative;
        margin-left: 10px; }
        .site-header__actions .btn-action #count-products-cart:not(.is-visible) {
          display: none; }
        .site-header__actions .btn-action #count-products-cart:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background-color: rgba(0, 0, 0, 0.09);
          position: absolute;
          top: 2px;
          left: -5px; }
      .site-header__actions .btn-action:not(:last-child) {
        margin-right: 5px; }
      .site-header__actions .btn-action:hover {
        background-color: var(--c-secondary); }
  .site-header.is-scrolled {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    border-bottom-color: transparent; }
  .site-header.is-hidden {
    transform: translateY(-80px); }

.admin-bar .site-header {
  top: 32px; }

.select2-container--default .select2-selection--single {
  background: rgba(0, 0, 0, 0.04);
  border: none;
  border-radius: 0px;
  padding: 10px;
  height: unset;
  width: 100%; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.2;
    padding-left: 0; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 26px;
    margin-right: 20px;
    padding-right: 0px; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1px;
    position: absolute;
    top: calc( 50% - 5px);
    right: 14px;
    width: 11px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 4px solid black;
      border-right: 4px solid black;
      transform: rotate(135deg); }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative; }
  .select2-container--default .select2-selection--multiple.select2-selection--clearable {
    padding-right: 25px; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    font-weight: bold;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    padding: 1px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
      background-color: #f1f1f1;
      color: #333;
      outline: none; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow {
  margin-top: 3px; }
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(-45deg);
    border: 4px solid transparent;
    border-top: 4px solid black;
    border-right: 4px solid black; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--group {
  padding: 0; }

.select2-container--default .select2-results__option--disabled {
  color: #999; }

.select2-container--default .select2-results__option--selected {
  background-color: #ddd; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-dropdown {
  margin-top: -145px; }

.site-filter {
  margin-bottom: 2.5rem;
  overflow-x: auto; }
  @media (min-width: 992px) {
    .site-filter {
      margin-bottom: 4rem; } }
  .site-filter .filter {
    display: flex;
    transform: translateX(-6px); }
    .site-filter .filter__item {
      font-size: 15px;
      display: inline-block;
      white-space: nowrap;
      position: relative;
      padding: 0 6px;
      line-height: 28px;
      color: black;
      font-weight: 700;
      background: none; }
      @media (min-width: 992px) {
        .site-filter .filter__item {
          font-size: inherit;
          line-height: 32px; } }
      .site-filter .filter__item:not(:last-child) {
        margin-right: 10px; }
        @media (min-width: 992px) {
          .site-filter .filter__item:not(:last-child) {
            margin-right: 15px; } }
      .site-filter .filter__item .count {
        position: relative;
        color: var(--c-text);
        font-weight: 700;
        margin-left: 5px;
        letter-spacing: -1px; }
        .site-filter .filter__item .count:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background-color: rgba(0, 0, 0, 0.09);
          position: absolute;
          top: 5px;
          left: -5px; }
      .site-filter .filter__item.current {
        background-color: var(--c-secondary);
        padding-right: 30px; }
        .site-filter .filter__item.current .count {
          display: none; }
        .site-filter .filter__item.current:after {
          content: '';
          position: absolute;
          top: calc( 50% - 6px);
          right: 7px;
          display: block;
          width: 12px;
          height: 12px;
          background-image: url("../././svg/close.svg");
          background-size: contain; }

ul.products {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  list-style-type: none; }
  @media (min-width: 768px) {
    ul.products {
      max-width: 100% !important; } }
  @media (min-width: 992px) {
    ul.products {
      max-width: 980px !important; } }
  @media (min-width: 1200px) {
    ul.products {
      max-width: 1140px !important; } }
  @media (min-width: 1420px) {
    ul.products {
      max-width: 1360px !important; } }
  @media (min-width: 1640px) {
    ul.products {
      max-width: 1500px !important; } }
  @media (min-width: 576px) {
    ul.products {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 50px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.products {
      grid-column-gap: 20px; } }
  @media (min-width: 992px) {
    ul.products {
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 70px; } }
  ul.products.columns-1 {
    grid-template-columns: repeat(1, 1fr); }
  ul.products.columns-2 {
    grid-template-columns: repeat(2, 1fr); }
  ul.products.columns-3 {
    grid-template-columns: repeat(3, 1fr); }
  @media (min-width: 1200px) {
    ul.products.columns-5 {
      grid-template-columns: repeat(5, 1fr); } }
  @media (min-width: 1200px) {
    ul.products.columns-6 {
      grid-template-columns: repeat(6, 1fr); } }
  ul.products:before {
    display: none; }
  ul.products li .woocommerce-LoopProduct-link {
    background: none; }
    ul.products li .woocommerce-LoopProduct-link > img {
      margin-bottom: 2.5rem;
      filter: drop-shadow(3px 3px 20px rgba(0, 0, 0, 0.2));
      transition: all .3s ease-in-out; }
    ul.products li .woocommerce-LoopProduct-link .woocommerce-loop-product__title {
      font-size: 1.9rem;
      margin-top: 0;
      margin-bottom: 0.5rem; }
    ul.products li .woocommerce-LoopProduct-link .woocommerce-loop-product__desc {
      color: var(--c-text); }
    ul.products li .woocommerce-LoopProduct-link:hover > img {
      transform: translateY(-10px);
      filter: drop-shadow(3px 20px 20px rgba(0, 0, 0, 0.3)); }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap; }

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column; }

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-container-pointer-events {
  touch-action: pan-y; }
  .swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x; }

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform; }

.swiper-slide-invisible-blank {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height; }

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px; }
  .swiper-container-3d .swiper-wrapper,
  .swiper-container-3d .swiper-slide,
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom,
  .swiper-container-3d .swiper-cube-shadow {
    transform-style: preserve-3d; }
  .swiper-container-3d .swiper-slide-shadow-left,
  .swiper-container-3d .swiper-slide-shadow-right,
  .swiper-container-3d .swiper-slide-shadow-top,
  .swiper-container-3d .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10; }
  .swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* CSS Mode */
.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */ }
  .swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none; }

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start; }

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory; }

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory; }

/* Controls */
.swiper-button {
  display: none;
  z-index: 100;
  width: 44px;
  height: 44px;
  background-color: transparent;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px red; }
  @media only screen and (min-width: 768px) {
    .swiper-button {
      display: flex; } }
  .swiper-button.swiper-button-prev > svg {
    transform: translateX(-1px); }
  .swiper-button.swiper-button-next > svg {
    transform: translateX(1px); }
  .swiper-button:hover > svg path {
    stroke: red; }
  .swiper-button.swiper-button-disabled {
    border-color: #737373; }
    .swiper-button.swiper-button-disabled > svg path {
      stroke: #737373; }

.pagiantion-wrapper {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 5px;
  z-index: 2;
  background-color: #e5e5e5;
  padding: 2px 7px;
  border-radius: 4px;
  color: black;
  font-size: 13px; }
  @media only screen and (min-width: 768px) {
    .pagiantion-wrapper {
      font-size: 15px; } }
  .pagiantion-wrapper > svg {
    display: none;
    width: 17px;
    height: auto;
    margin-right: 5px;
    transform: translateY(-0.5px); }
    @media only screen and (min-width: 768px) {
      .pagiantion-wrapper > svg {
        display: block; } }

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px; }
  @media (min-width: 768px) {
    .blog-grid {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px; } }
  @media (min-width: 992px) {
    .blog-grid {
      grid-column-gap: 50px;
      grid-row-gap: 50px; } }
  .blog-grid .post {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.09); }
    .blog-grid .post__thumbnail {
      margin-bottom: 2em;
      display: block;
      width: 100%; }
      @media (min-width: 768px) {
        .blog-grid .post__thumbnail img {
          height: 300px;
          object-fit: cover;
          object-position: center; } }
    .blog-grid .post__title {
      margin-bottom: 1.5em;
      background: none; }
      .blog-grid .post__title h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700; }
    .blog-grid .post__excerpt {
      margin-bottom: 1.5em; }
    .blog-grid .post > .read-more {
      align-self: flex-end;
      margin-top: auto; }

.site-content .post {
  max-width: 100% !important; }
  .site-content .post__details {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.03);
    font-size: 15px;
    color: black;
    justify-content: center; }
    @media (min-width: 768px) {
      .site-content .post__details {
        justify-content: unset; } }
    .site-content .post__details > * {
      white-space: nowrap; }
      .site-content .post__details > *:not(:last-child) {
        position: relative;
        margin-right: 0.2rem; }
        @media (min-width: 320px) {
          .site-content .post__details > *:not(:last-child) {
            margin-right: 0.5rem;
            padding-right: 0.5rem; } }
        @media (min-width: 992px) {
          .site-content .post__details > *:not(:last-child) {
            margin-right: 1rem;
            padding-right: 1rem; } }
        @media (min-width: 320px) {
          .site-content .post__details > *:not(:last-child):after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 14px;
            background: rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 5px;
            right: 0; } }
  .site-content .post h2 {
    margin-bottom: 1.5rem; }
  .site-content .post h3 {
    margin-bottom: 1.5rem; }
  .site-content .post h4 {
    margin-bottom: 1.5rem; }
  .site-content .post h5 {
    margin-bottom: 1.5rem; }
  .site-content .post p {
    margin-bottom: 1rem; }

.block_faq .faq {
  margin-left: -20px;
  width: calc( 100% + 40px);
  max-width: unset !important; }
  .block_faq .faq__search {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .block_faq .faq__search input[type="search"] {
      padding: 0 20px;
      flex-grow: 1;
      width: 100%; }
      .block_faq .faq__search input[type="search"]::placeholder {
        color: black;
        opacity: 1; }
    .block_faq .faq__search svg {
      width: 45px;
      height: 45px; }
      @media (min-width: 992px) {
        .block_faq .faq__search svg {
          width: 65px;
          height: 65px; } }
      .block_faq .faq__search svg path {
        stroke: black;
        stroke-width: 5;
        stroke-miterlimit: 10; }
  .block_faq .faq__list {
    list-style-type: none;
    padding: 0; }
    .block_faq .faq__list__row {
      border-bottom: solid 1px rgba(0, 0, 0, 0.09);
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      background: white;
      transition: background .3s ease-in-out; }
      .block_faq .faq__list__row .question {
        margin: 0;
        cursor: pointer;
        position: relative;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px; }
        .block_faq .faq__list__row .question:after {
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          position: absolute;
          top: calc(50% - 9px);
          right: 0;
          background-image: url("../././svg/chevron-right.svg");
          transition: transform .3s ease; }
          @media (min-width: 992px) {
            .block_faq .faq__list__row .question:after {
              width: 22px;
              height: 22px;
              top: calc(50% - 11px); } }
      .block_faq .faq__list__row .answer {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s cubic-bezier(0, 1, 0, 1); }
        .block_faq .faq__list__row .answer p {
          margin-bottom: 0; }
      .block_faq .faq__list__row.is-shown {
        background: var(--c-secondary); }
        .block_faq .faq__list__row.is-shown .question:after {
          transform: rotate(90deg); }
        .block_faq .faq__list__row.is-shown .answer {
          max-height: 1000px;
          transition: max-height 1s ease-in-out; }

.theme-product .site-main {
  margin-top: 71px; }

/*# sourceMappingURL=main.css.map */
