button,
input[type="submit"],
.button,
.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  text-align: center;
  border: solid 2px transparent;
  font-size: 17px;
  @include media-up(sm) {
    font-size: 19px;
  }
  &.btn-secondary {
    color: black;
    background-color: var( --c-secondary );
  }
  &:hover {
    color: white;
    svg > path {
      stroke: white!important;
    }
  }
}

.btn-text {
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  padding: 0 6px;
  line-height: 28px;
  color: black;
  font-family: var( --f-body );
  @include media-up(md) {
    font-size: inherit;
    line-height: 32px;
  }
  background: none;
  border: none;
  transition: background-color .3s ease-in-out;
  &:hover {
    color: white;
    background-color: var( --c-secondary );
    transition: background-color .3s ease-in-out;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"] {
  background: rgba( black, 0.04 );
  color: black;
  padding: 10px;
  transition: background .3s ease-in-out;
  width: 100%;
  max-width: unset;
  border: none;
  &:focus,
  &:active {
    background: var( --c-secondary );
  }
}

textarea {
  background: rgba( black, 0.04 );
  color: black;
  padding: 10px;
  transition: background .3s ease-in-out;
  width: 100%;
  font-family: inherit;
  &:focus,
  &:active {
    background: var( --c-secondary );
  }
}

label {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.form-row {
  display: inline-flex;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  flex-flow: column nowrap;
  @include media-up(md) {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  > label {
    position: relative!important;
    flex: 0 0 100%;
    margin-bottom: 0.4rem;
    font-size: 15px;
    @include media-up(md) {
      flex: 0 1 300px;
      width: 300px;
      margin-bottom: unset;
    }
  }
  > .woocommerce-input-wrapper {
    flex-grow: 1;
    width: 100%;
    position: relative;
  }
}



