:root {
  --body-color: #000000;
  --font-family-base: Arial, sans-serif;
}

// Developer mode - works only if you uses Bootstrap4 grid
$dev-mode: false; // true or false

$dev-grid-padding-color: rgba(green, .3); // column padding color
$dev-grid-column-color: rgba(pink, .3); // column background color
$dev-outline-color: rgba(blue, 1); // column outline color
//

// If you want use rem to px function define this in pixels exclude 'px'
$base-font-size: 16;
//

// Grid
$grid-gutter-width: 30px;

// Grid breakpoints
$grid-breakpoints: (
  // Start
  xxs: 0,
  // Phone
  xs: 375px,
  // Phone
  sm: 576px,
  // Tablet
  md: 768px,
  // Tablet
  lg: 992px,
  // Desktop
  xl: 1200px,
  // Desktop
  xxl: 1440px,
  // Desktop
  xxxl: 1920px,
  // Large desktop
  xxxxl: 2560px
);

// Container max-width sizes
$container-max-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1270px,
  xxxl: 1280px,
  xxxxl: 1300px
);

// Font weights - if you prefer use font by name
$font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900
);

// Responsive Fonts
$min_width: map-get($grid-breakpoints, "xs"); // min width responsive range
$max_width: map-get($grid-breakpoints, "xl"); // max width responsive range
$min_font: 12px; // min font size for responsive range
$max_font: 16px; // max font size for responsive range
//