.blog-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  @include media-up(sm) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  @include media-up(md) {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .post {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba( black, .09 );

    &__thumbnail {
      margin-bottom: 2em;
      display: block;
      width: 100%;
      img{
        @include media-up(sm) {
          height: 300px;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &__title {
      margin-bottom: 1.5em;
      background: none;
      h2 {
        @extend .h3;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
      }
    }

    &__excerpt {
      margin-bottom: 1.5em;
    }

    > .read-more {
      align-self: flex-end;
      margin-top: auto;
    }
  }
}