.site-filter{
  margin-bottom: 2.5rem;
  overflow-x: auto;
  @include media-up(md) {
    margin-bottom: 4rem;
  }
  .filter {
    display: flex;
    transform: translateX(-6px);
    &__item {
      font-size: 15px;
      display: inline-block;
      white-space: nowrap;
      position: relative;
      padding: 0 6px;
      line-height: 28px;
      color: black;
      font-weight: 700;
      @include media-up(md) {
        font-size: inherit;
        line-height: 32px;
      }
      background: none;
      &:not(:last-child) {
        margin-right: 10px;
        @include media-up(md) {
          margin-right: 15px;
        }
      }
      .count {
        position: relative;
        color: var( --c-text );
        font-weight: 700;
        margin-left: 5px;
        letter-spacing: -1px;
        &:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background-color: rgba( black, .09 );
          position: absolute;
          top: 5px;
          left: -5px;
        }
      }
      &.current{
        background-color: var( --c-secondary );
        padding-right: 30px;
        .count {
          display: none;
        }
        &:after {
          content: '';
          position: absolute;
          top: calc( 50% - 6px );
          right: 7px;
          display: block;
          width: 12px;
          height: 12px;
          background-image: url("../././svg/close.svg");
          background-size: contain;
        }
      }
    }
  }
}

