.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba( white, .925 );
  padding: 15px;
  z-index: 900;
  backdrop-filter: blur( 30px );
  -webkit-backdrop-filter: blur( 30px );
  border-bottom: solid 1px rgba( black, .09 );
  transition: transform .5s ease, box-shadow .4s ease-in-out;

  .menu {
    > ul {
      list-style-type: none;
      padding: 0;
      display: flex;
      font-weight: 700;
      font-size: 1.2rem;
      > li {
        position: relative;
        padding-left: 4px;
        padding-right: 4px;
        &:not(:last-child) {
          margin-right: 20px;
        }
        &.current_page_item {
          &:before {
            content: '';
            display: block;
            width: 100%;
            height: 12px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: var( --c-secondary );
          }
        }
        > a {
          color: black;
          background: none;
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    margin-left: auto;
    .btn-action {
      background: white;
      border: none;
      padding: 5px;
      transition: all .3s ease-in-out;
      svg {
        width: 30px;
        height: 30px;
      }
      #count-products-cart {
        color: black;
        font-weight: 500;
        line-height: 1;
        position: relative;
        margin-left: 10px;
        &:not(.is-visible) {
          display: none;
        }
        &:before {
          content: '';
          display: block;
          width: 1px;
          height: 15px;
          background-color: rgba( black, .09 );
          position: absolute;
          top: 2px;
          left: -5px;
        }
      }
      &:not(:last-child) {
        margin-right: 5px;
      }
      &:hover {
        background-color: var( --c-secondary );
      }
    }
  }

  &.is-scrolled {
    box-shadow: 0 5px 20px 0 rgba( black, .1 );
    border-bottom-color: transparent;
  }

  &.is-hidden {
    transform: translateY( -80px );
  }

}

.admin-bar {
  .site-header {
    top: 32px;
  }
}


