ul.products {
  @include container-max-widths();
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  list-style-type: none;
  @include media-up(xs) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
  }
  @include media-between(sm, md) {
    grid-column-gap: 20px;
  }
  @include media-up(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 70px;
  }
  &.columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  &.columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  &.columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.columns-5 {
    @include media-up(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  &.columns-6 {
    @include media-up(lg) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  &:before {
    display: none;
  }

  li {
    .woocommerce-LoopProduct-link {
      background: none;
      > img {
        margin-bottom: 2.5rem;
        filter: drop-shadow( 3px 3px 20px rgba(0,0,0,.2) );
        transition: all .3s ease-in-out;
      }
      .woocommerce-loop-product__title {
        font-size: 1.9rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }
      .woocommerce-loop-product__desc {
        color: var( --c-text );
      }
      &:hover {
        > img {
          transform: translateY(-10px);
          filter: drop-shadow( 3px 20px 20px rgba(0,0,0,.3) );
        }
      }
    }
  }
}