.site-content {
  .post {
    max-width: 100%!important;
    &__details {
      display: flex;
      padding-top: 5px;
      padding-bottom: 5px;
      flex-wrap: wrap;
      background: rgba( black, .03 );
      font-size: 15px;
      color: black;
      justify-content: center;
      @include media-up(sm) {
        justify-content: unset;
      }
      > * {
        white-space: nowrap;
        &:not(:last-child) {
          position: relative;
          margin-right: 0.2rem;
          @include media-up(xxs) {
            margin-right: 0.5rem;
            padding-right: 0.5rem;
          }
          @include media-up(md){
            margin-right: 1rem;
            padding-right: 1rem;
          }
          &:after {
            @include media-up(xxs) {
              content: '';
              display: inline-block;
              width: 1px;
              height: 14px;
              background: rgba(black, .15);
              position: absolute;
              top: 5px;
              right: 0;
            }
          }
        }
      }
    }

    h2 {
      @extend .h3;
      margin-bottom: 1.5rem;
    }
    h3 {
      @extend .h4;
      margin-bottom: 1.5rem;
    }
    h4 {
      @extend .h5;
      margin-bottom: 1.5rem;
    }
    h5 {
      @extend .h6;
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 1rem;
    }

  }
}