body.woocommerce-checkout {
  .woocommerce {
    @include container-max-widths();
    padding-left: 20px;
    padding-right: 20px;
    .checkout {
      @include media-up(md) {
        display: grid;
        grid-template-areas: 'notices details'
                           'customer details';
      }
      .woocommerce-NoticeGroup-checkout {
        grid-area: notices;
        .woocommerce-error {
          margin-bottom: 30px;
        }
      }
      &__customer {
        flex-grow: 1;
        padding-top: 15px;
        grid-area: customer;
        h3 {
          margin-top: 0;
        }
        .col-1,
        .col-2 {
          margin-bottom: 40px;
        }
      }

      &__details {
        margin-left: -20px;
        width: calc( 100% + 40px );
        grid-area: details;
        @include media-up(md) {
          flex: 0 0 400px;
          margin-left: 40px;
          width: unset;
        }
        .wrapper{
          position: sticky;
          top: 100px;
          background: var( --c-secondary );
          padding: 20px;
          color: black;
          @include media-up(md) {
            padding: 15px;
          }
          h3 {
            margin-top: 0;
          }
          .woocommerce-checkout-review-order {

            .woocommerce-checkout-review-order-table {
              width: 100%;
              td {
                padding: 2px 0;
                @include media-up(md) {
                  padding: 5px 0;
                }
              }
              th {
                text-align: left;
                font-weight: 700;
                padding: 2px 0;
                @include media-up(md) {
                  padding: 5px 0;
                }
              }
              thead {
                tr:last-child {
                  border-bottom: solid 1px rgba( black, .09 );
                }
              }
              tfoot {
                tr:first-child {
                  border-top: solid 1px rgba( black, .09 );
                }
              }
            }

            .woocommerce-checkout-payment {
              padding-top: 20px;
              .payment_methods {
                list-style-type: none;
                margin-bottom: 20px;
                li {
                  padding: 5px 0;
                  &:not(:last-child) {
                    border-bottom: solid 1px rgba( black, .09 );
                  }
                  p {
                    font-size: 13px;
                  }
                }
              }
              .place-order {
                flex-flow: column nowrap;
                .woocommerce-privacy-policy-text {
                  font-size: 13px;
                }
                button {
                  width: 100%;
                  margin-bottom: -15px;
                }
              }
            }

          }
        }
      }

    }
  }
}

#billing_address_2_field > label {
  @include media-down(md) {
    display: none;
  }
}